/* style.css */

.intro {
    background-color: lightgreen;
    color: red;
    text-align: center;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid black;
}

